*
!*/

!/.clang-format
!/.clang-tidy
!/.gitignore
!/.gitmodules
!/LICENSE
!/README*.md

!/.github/**/*.yml
!/.gitlab-ci.yml

!/CMakeLists.txt
!/CMakePresets.json
!/cmake/**/*.cmake
!/src/**/*.cc
!/src/**/*.glsl
!/src/**/*.hh
!/src/**/*.in
!/src/**/*.s
!/src/**/CMakeLists.txt
